<div class="flash-news-banner">
  <div class="container">
    <div class="d-lg-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <span class="badge badge-dark mr-3"><%= translate('verseLabel', currentLocale) %> </span>
        <% if (verse && verse.length > 0) { %>
        <% for( let i = 0; i < verse.length; i++ ) { %>
        <p class="mb-0">
          <% if (currentLocale === 'en-GB') { %>
          <%- verse[i].body %>
          <% } else if (currentLocale === 'fr-FR') { %>
          <%- verse[i].french %>
          <% } else if (currentLocale === 'ki-RW') { %>
          <%- verse[i].rwandan %>
          <% } else { %>
          <%-  verse[i].body %>
          <% } %>
        </p>
        <% } %> <% } else { %>
        <p class="mb-0">>No verse of the day</p>
        <% } %>
      </div>

      <div class="d-flex">
        <span class="mr-3 text-danger" id="date"></span>
        <span class="mr-3 text-danger" id="time"></span>
      </div>
    </div>
  </div>
</div>

<script>
  function currentDateTime() {
    const currentdate = new Date();
    const dateElement = document.querySelector("#date");
    const timeElement = document.querySelector("#time");
    dateElement.innerHTML = currentdate.toLocaleString("<%= currentLocale %>", {
      weekday: "short",
      year: "numeric",
      month: "short",
      day: "numeric",
    });
    timeElement.innerHTML = currentdate.toLocaleString("<%= currentLocale %>", {
      hour12: false,
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit",
    });

    const t = setTimeout(function () {
      currentDateTime();
    }, 1000);
  };

  currentDateTime();
</script>