<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <img src="assets/images/logo.jpg" class="footer-logo" alt="" />
          <h5 class="font-weight-normal mt-4 mb-5">
            Find news, entertainment, your favorite music and tv shows.
            Newspaper is your news, entertainment, music fashion website. We
            provide you with the latest breaking news and videos straight from
            the entertainment industry.
          </h5>
          <ul class="social-media mb-3">
            <li>
              <a href="#">
                <i class="mdi mdi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="mdi mdi-youtube"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/GospelUbber?s=08" target="_blank">
                <i class="mdi mdi-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/p/CEvu1XzBTU2/?igshid=asjdsot0lyb4" target="_blank">
                <i class="mdi mdi-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h3 class="font-weight-bold mb-3"><%= translate('recentPostsLabel', currentLocale) %> </h3>
          <% if (recentNews && recentNews.length > 0) { %>
          <% for( let i = 0; i < recentNews.length; i++ ) { %>
          <div class="row">
            <div class="col-sm-12">
              <div class="footer-border-bottom pb-2">
                <div class="row">
                  <div class="col-3">
                    <img src="<%- recentNews[i].image %>" alt="thumb" class="img-fluid" />
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-600">
                      <a class="font-weight-600 text-white" href="/article?slug=<%- recentNews[i].news_id %>">
                        <%- recentNews[i].title %>
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% } else { %>
          <div class="row">
            <div class="col-sm-12">
              <div class="footer-border-bottom pb-2">
                <div class="row">
                  <div class="col-3">
                    <img src="assets/images/dashboard/home_1.jpg" alt="thumb" class="img-fluid" />
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-600">
                      Get closer to God
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="footer-border-bottom pb-2 pt-2">
                <div class="row">
                  <div class="col-3">
                    <img src="assets/images/dashboard/home_2.jpg" alt="thumb" class="img-fluid" />
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-600">
                      Get closer to God
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div>
                <div class="row">
                  <div class="col-3">
                    <img src="assets/images/dashboard/home_3.jpg" alt="thumb" class="img-fluid" />
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-600 mb-3">
                      Get closer to God
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <div class="col-sm-3">
          <h3 class="font-weight-bold mb-3"><%= translate('linksLabel', currentLocale) %> </h3>
          <div class="footer-border-bottom pb-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">
                <a href="/news?locale=<%- currentLocale %>"><%= translate('newsLabel', currentLocale) %> </a>
              </h5>
            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600 text-white"><a href="/tv?locale=<%- currentLocale %>"><%= translate('tvLabel', currentLocale) %> </a></h5>

            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600"><a href="/radio?locale=<%- currentLocale %>"><%= translate('radioLabel', currentLocale) %> </a></h5>

            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600"><a href="/music?locale=<%- currentLocale %>"><%= translate('musicLabel', currentLocale) %> </a></h5>

            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600"><a href="/about?locale=<%- currentLocale %>"><%= translate('aboutLabel', currentLocale) %> </a></h5>

            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600"><a href="/contact?locale=<%- currentLocale %>"><%= translate('contactLabel', currentLocale) %> </a></h5>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-sm-flex justify-content-between align-items-center">
            <div class="fs-14 font-weight-600">
              © 2020 <a href="#" target="_blank" class="text-white"> Abba Gospel</a>. <%= translate('copyrightLabel', currentLocale) %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>