<header id="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="navbar-top">
        <div class="d-flex justify-content-end align-items-center">
          <!-- <ul class="navbar-top-left-menu">
            <li class="nav-item">
              <a href="/about" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link">Contact Us</a>
            </li>
          </ul> -->
          <ul class="social-media">
            <li>
              <a href="#">
                <i class="mdi mdi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="mdi mdi-youtube"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/GospelUbber?s=08" target="_blank">
                <i class="mdi mdi-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/p/CEvu1XzBTU2/?igshid=asjdsot0lyb4" target="_blank">
                <i class="mdi mdi-instagram"></i>
              </a>
            </li>
          </ul>
          <ul class="navbar-top-right-menu">
            <!-- <li class="nav-item">
              <a href="#" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Sign in</a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="navbar-bottom">
        <div class="d-flex justify-content-between align-items-center">
          <div class="brand">
            <a class="navbar-brand" href="/">
              <img src="assets/images/logo.jpg" alt="" />
            </a>
          </div>
          <div>
            <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse justify-content-center collapse" id="navbarSupportedContent">
              <ul class="navbar-nav d-lg-flex justify-content-between align-items-start">
                <li>
                  <button class="navbar-close">
                    <i class="mdi mdi-close"></i>
                  </button>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/?locale=<%- currentLocale %>"><%= translate('homeLabel', currentLocale) %> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/news?locale=<%- currentLocale %>"><%= translate('newsLabel', currentLocale) %> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/tv?locale=<%- currentLocale %>"><%= translate('tvLabel', currentLocale) %> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/radio?locale=<%- currentLocale %>"><%= translate('radioLabel', currentLocale) %> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/music?locale=<%- currentLocale %>"><%= translate('musicLabel', currentLocale) %> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about?locale=<%- currentLocale %>"><%= translate('aboutLabel', currentLocale) %> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact?locale=<%- currentLocale %>"><%= translate('contactLabel', currentLocale) %> </a>
                </li>
              </ul>
              <ul class="language-dropdown justify-content-between align-items-center">
                <!-- <li class="nav-item">
                          <a href="#" class="nav-link">En</a>
                        </li>
                        <li class="nav-item">
                          <a href="#" class="nav-link">Fr</a>
                        </li>
                        <li class="nav-item">
                          <a href="#" class="nav-link">Ki</a>
                        </li> -->
    
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Language</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item d-flex align-items-center" href="/?locale=en-GB">
                      <span class="flag-icon">
                        <img src="assets/images/united-kingdom.png" alt="flag" class="img-fluid" />
                      </span> &nbsp English
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="/?locale=fr-FR"> <span class="flag-icon">
                        <img src="assets/images/france.png" alt="flag" class="img-fluid" />
                      </span> &nbsp Francais</a>
                    <a class="dropdown-item d-flex align-items-center" href="/?locale=ki-RW"><span class="flag-icon">
                        <img src="assets/images/rwanda.png" alt="flag" class="img-fluid" />
                      </span> &nbsp Kinyarwanda/kirundi</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- <ul class="social-media">
            <li>
              <a href="#">
                <i class="mdi mdi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="mdi mdi-youtube"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/GospelUbber?s=08" target="_blank">
                <i class="mdi mdi-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/p/CEvu1XzBTU2/?igshid=asjdsot0lyb4" target="_blank">
                <i class="mdi mdi-instagram"></i>
              </a>
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
  </div>
</header>