<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta content="Abbagospel" property="og:title">
  <meta content="Find news, entertainment, your favorite music and tv shows.
  Newspaper is your news, entertainment, music fashion website. We
  provide you with the latest breaking news and videos straight from
  the entertainment industry." property="og:description">
  <meta content="https://abbagospel.online/assets/images/favicon.png" property="og:image">
  <title>Abbagospel</title>
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="assets/vendors/aos/dist/aos.css/aos.css" />
  <!-- End plugin css for this page -->
  <link rel="shortcut icon" href="assets/images/favicon.png" />
  <!-- inject:css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- endinject -->
</head>

<body>
  <div class="container-scroller">
    <div class="main-panel">
      <!-- partial:../partials/_navbar.html -->
      <%- include('../partials/_navbar') %>
      <!-- partial:partials/_banner -->
      <%- include('../partials/_banner') %>
      <div class="content-wrapper">
        <div class="container">
          <div class="col-sm-12">
            <div class="row breadcrumb">
              <% if (categories && categories.length > 0) { %>
              <% for( let i = 0; i < categories.length; i++ ) { %>
              <div class="breadcrumb-item">
                <a href="/tv?category=<%- categories[i].category_name %>">
                  <% if (currentLocale === 'en-US') { %>
                  <%- categories[i].category_name %>
                  <% } else if (currentLocale === 'fr-FR') { %>
                  <%- categories[i].french_name %>
                  <% } else if (currentLocale === 'ki-RW') { %>
                  <%- categories[i].rwandan_name %>
                  <% } else { %>
                  <%-  categories[i].category_name %>
                  <% } %>
                </a>
              </div>
              <% } %>
              <% } else { %>
              <div class="breadcrumb-item">
                <%= translate('errorMessage404Route', currentLocale) %>
              </div>
              <% } %>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 offset-md-6">
            <form class="md-form input-group mb-3" method="GET" action="/tv?locale=<%- currentLocale %>">
              <input type="text" name="search" class="form-control" placeholder="Search..." aria-label="Search..."
                aria-describedby="MaterialButton-addon2">
              <div class="input-group-append">
                <button class="btn btn-sm btn-primary m-0" type="submit" id="MaterialButton-addon2"><i
                    class="mdi mdi-magnify"></i></button>
              </div>
            </form>
          </div>
          <div class="col-sm-12">
            <div class="card" data-aos="fade-up">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <h1 class="font-weight-600 mb-4">
                      <%= translate('tvLabel', currentLocale) %>
                    </h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8">
                    <% if (tvShows && tvShows.length > 0) { %>
                    <% for( let i = 0; i < tvShows.length; i++ ) { %>
                    <div class="row">
                      <div class="col-sm-4 grid-margin">
                        <div class="position-relative">
                          <div class="rotate-img rounded">
                            <a class="font-weight-600 mb-2"
                              href="/selectedtv?locale=<%- currentLocale %>&slug=<%- tvShows[i].id %>">
                              <img src="<%- tvShows[i].cover %>" alt="<%- tvShows[i].title %>" class="img-fluid" />
                            </a>
                          </div>
                          <div class="badge-positioned w-90">
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="video-icon wave-effect" style="cursor: pointer;"
                                onclick="location.href = '/selectedtv?locale=<%- currentLocale %>&slug=<%- tvShows[i].id %>';">
                                <i class="mdi mdi-play"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8 grid-margin">
                        <h5 class="text-dark font-weight-600 mb-2">
                          <a class="text-dark font-weight-600 mb-2"
                            href="/selectedtv?locale=<%- currentLocale %>&slug=<%- tvShows[i].id %>">
                            <%- tvShows[i].title %>
                          </a>
                        </h5>
                        <p class="fs-15">
                          <%- tvShows[i].bodyhtml %>
                        </p>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2"></span><%= timeDifference(tvShows[i].created_at, currentLocale) %>
                        </p>
                      </div>
                    </div>
                    <% } %>
                    <% } else { %>
                    <h2 class="font-weight-600 mb-4">
                      <%= translate('errorMessage404Route', currentLocale) %>
                    </h2>
                    <% } %>
                  </div>
                  <div class="col-lg-4">
                    <!-- <h2 class="mb-4 text-primary font-weight-600">
                      Live
                    </h2>
                    <div class="row"> -->
                      <!-- <div class="col-sm-12">
                        <div class="position-relative">
                          <div>
                            <img src="assets/images/magazine/Magzine_1.jpg" alt="banner" class="img-fluid" />
                          </div>
                          <div class="badge-positioned">
                            <span class="badge badge-danger font-weight-bold">Live</span>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->
      <!-- container-scroller ends -->

      <!-- partial:../partials/_footer.html -->
      <%- include('../partials/_footer') %>
      <!-- partial -->
    </div>
  </div>
  <!-- inject:js -->
  <script src="assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->

  <script src="assets/vendors/aos/dist/aos.js/aos.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="assets/js/demo.js"></script>
  <script src="assets/js/jquery.easeScroll.js"></script>
  <!-- End custom js for this page-->
</body>

</html>